<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<base href="47.101.45.86:8677" target="_blank">
	<title>HOME</title>
	<style>
		h1 {color:DimGray;}
		h2 {color:LightSlateGray;}
		a:link{color:MediumAquaMarine;}
		a:visited{color:Gray;}
		a:hover{color:OliveDrab;}

		div.img {opacity:0.79;border:10px solid rgba(0,0,0,0);}
		div.img:hover{opacity:1.0;border:0px solid rgba(0,0,0,0);}
		div.img img{width:100%;height:auto;}
		div.desc{padding:3px;text-align:center;}
		* {box-sizing:border-box;}
		.responsive{padding:10px 10px 30px;float:left;width:25%;}
		@media only screen and (max-width:700px){
			.responsive{width:50%;}
		}
		@media only screen and (max-width:500px){
			.responsive{width:100%;}
		}
		.clearfix:after{content:"";display:table;clear:both;}

        .demo{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-10;background-repeat:no-repeat;background:url(back_ground.jpg);}
    </style>
</head>
<body>
    <div class="demo"></div>

	<h1 style="text-align:center;">YOU ARE NOW AT HOME!</h1>
	<h2>各式各样的山</h2>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/areoview.jpg" >
		  	    <img src="/paperwall/areoview.jpg" alt="areoview" width="600" height="400">
            </a>
			<div class="desc">areoview</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/cloud.jpg" >
		  	    <img src="/paperwall/cloud.jpg" alt="cloud" width="600" height="400">
		    </a>
			<div class="desc">cloud</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/DeltaJunction.jpg" >
		  	    <img src="/paperwall/DeltaJunction.jpg" alt="DeltaJunction" width="600" height="400">
		    </a>
			<div class="desc">DeltaJunction</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/high-in-cloud.jpg" >
		  	    <img src="/paperwall/high-in-cloud.jpg" alt="high-in-cloud" width="600" height="400">
		    </a>
			<div class="desc">high-in-cloud</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/Hingincloud.jpg" >
		  	    <img src="/paperwall/Hingincloud.jpg" alt="Hingincloud" width="600" height="400">
		    </a>
			<div class="desc">Hingincloud</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/HuangshanClouds.jpg" >
		  	    <img src="/paperwall/HuangshanClouds.jpg" alt="HuangshanClouds" width="600" height="400">
		    </a>
			<div class="desc">HuangshanClouds</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/NaranjoBulnes.jpg" >
		  	    <img src="/paperwall/NaranjoBulnes.jpg" alt="NaranjoBulnes" width="600" height="400">
		    </a>
			<div class="desc">NaranjoBulnes</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/QingMingHuangShan.jpg" >
		  	    <img src="/paperwall/QingMingHuangShan.jpg" alt="QingMingHuangShan" width="600" height="400">
		    </a>
			<div class="desc">QingMingHuangShan</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/SouthMoravian.jpg" >
		  	    <img src="/paperwall/SouthMoravian.jpg" alt="SouthMoravian" width="600" height="400">
		    </a>
			<div class="desc">SouthMoravian</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/tree.jpg" >
		  	    <img src="/paperwall/tree.jpg" alt="tree" width="600" height="400">
		    </a>
			<div class="desc">tree</div>
		</div>
	</div>



	<br>
	<div class="clearfix"></div>
	<h2>山水交接</h2>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/Dongjiang.jpg" >
		  	    <img src="/paperwall/Dongjiang.jpg" alt="Dongjiang" width="600" height="400">
		    </a>
			<div class="desc">Dongjiang</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/ElkValleyVideo.jpg" >
		  	    <img src="/paperwall/ElkValleyVideo.jpg" alt="ElkValleyVideo" width="600" height="400">
		    </a>
			<div class="desc">ElkValleyVideo</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/fairland.jpg" >
		  	    <img src="/paperwall/fairland.jpg" alt="fairland" width="600" height="400">
		    </a>
			<div class="desc">fairland</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/InnerdalsvatnaVideo.jpg" >
		  	    <img src="/paperwall/InnerdalsvatnaVideo.jpg" alt="InnerdalsvatnaVideo" width="600" height="400">
		    </a>
			<div class="desc">InnerdalsvatnaVideo</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/KalsoyIsland.jpg" >
		  	    <img src="/paperwall/KalsoyIsland.jpg" alt="KalsoyIsland" width="600" height="400">
		    </a>
			<div class="desc">KalsoyIsland</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/Knuthojdsmossen.jpg" >
		  	    <img src="/paperwall/Knuthojdsmossen.jpg" alt="Knuthojdsmossen" width="600" height="400">
		    </a>
			<div class="desc">Knuthojdsmossen</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/lake.jpg" >
		  	    <img src="/paperwall/lake.jpg" alt="lake" width="600" height="400">
		    </a>
			<div class="desc">lake</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/LavaFlows.jpg" >
		  	    <img src="/paperwall/LavaFlows.jpg" alt="LavaFlows" width="600" height="400">
		    </a>
			<div class="desc">LavaFlows</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/magic.jpg" >
		  	    <img src="/paperwall/magic.jpg" alt="magic" width="600" height="400">
		    </a>
			<div class="desc">magic</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/stone.jpg" >
		  	    <img src="/paperwall/stone.jpg" alt="stone" width="600" height="400">
		    </a>
			<div class="desc">stone</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/StormyCrater.jpg" >
		  	    <img src="/paperwall/StormyCrater.jpg" alt="StormyCrater" width="600" height="400">
		    </a>
			<div class="desc">StormyCrater</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/SutherlandFalls.jpg" >
		  	    <img src="/paperwall/SutherlandFalls.jpg" alt="SutherlandFalls" width="600" height="400">
		    </a>
			<div class="desc">SutherlandFalls</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/TrilliumLake.jpg" >
		  	    <img src="/paperwall/TrilliumLake.jpg" alt="TrilliumLake" width="600" height="400">
		    </a>
			<div class="desc">TrilliumLake</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>星空</h2>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/BarHarborCave.jpg" >
		  	    <img src="/paperwall/BarHarborCave.jpg" alt="BarHarborCave" width="600" height="400">
		    </a>
			<div class="desc">BarHarborCave</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/BulgariaPerseids.jpg" >
		  	    <img src="/paperwall/BulgariaPerseids.jpg" alt="BulgariaPerseids" width="600" height="400">
		    </a>
			<div class="desc">BulgariaPerseids</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/MalhamStars.jpg" >
		  	    <img src="/paperwall/MalhamStars.jpg" alt="MalhamStars" width="600" height="400">
		    </a>
			<div class="desc">MalhamStars</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/NeistPoint.jpg" >
		  	    <img src="/paperwall/NeistPoint.jpg" alt="NeistPoint" width="600" height="400">
		    </a>
			<div class="desc">NeistPoint</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/WardCharcoalOvens.jpg" >
		  	    <img src="/paperwall/WardCharcoalOvens.jpg" alt="WardCharcoalOvens" width="600" height="400">
		    </a>
			<div class="desc">WardCharcoalOvens</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>树林</h2>
	
	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/BluebellWood.jpg" >
		  	    <img src="/paperwall/BluebellWood.jpg" alt="BluebellWood" width="600" height="400">
		    </a>
			<div class="desc">BluebellWood</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/forest.jpg" >
		  	    <img src="/paperwall/forest.jpg" alt="forest" width="600" height="400">
		    </a>
			<div class="desc">forest</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/MistyAshdown.jpg" >
		  	    <img src="/paperwall/MistyAshdown.jpg" alt="MistyAshdown" width="600" height="400">
		    </a>
			<div class="desc">MistyAshdown</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/TrossachsAutumn.jpg" >
		  	    <img src="/paperwall/TrossachsAutumn.jpg" alt="TrossachsAutumn" width="600" height="400">
		    </a>
			<div class="desc">TrossachsAutumn</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/YosemiteFog.jpg" >
		  	    <img src="/paperwall/YosemiteFog.jpg" alt="YosemiteFog" width="600" height="400">
		    </a>
			<div class="desc">YosemiteFog</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>一条小路</h2>
	
	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/CumberlandIsland.jpg" >
		  	    <img src="/paperwall/CumberlandIsland.jpg" alt="CumberlandIsland" width="600" height="400">
		    </a>
			<div class="desc">CumberlandIsland</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/KuhmoLapland.jpg" >
		  	    <img src="/paperwall/KuhmoLapland.jpg" alt="KuhmoLapland" width="600" height="400">
		    </a>
			<div class="desc">KuhmoLapland</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/LamarStorm.jpg" >
		  	    <img src="/paperwall/LamarStorm.jpg" alt="LamarStorm" width="600" height="400">
		    </a>
			<div class="desc">LamarStorm</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/PascuaFlorida.jpg" >
		  	    <img src="/paperwall/PascuaFlorida.jpg" alt="PascuaFlorida" width="600" height="400">
		    </a>
			<div class="desc">PascuaFlorida</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>雪</h2>
	
	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/RealSnowflake.jpg" >
		  	    <img src="/paperwall/RealSnowflake.jpg" alt="RealSnowflake" width="600" height="400">
		    </a>
			<div class="desc">RealSnowflake</div>
		</div>
	</div>

	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/.jpg" >
		  	    <img src="/paperwall/SloveniaAlps.jpg" alt="SloveniaAlps" width="600" height="400">
		    </a>
			<div class="desc">SloveniaAlps</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>一朵花</h2>
	
	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/SneezeSpring.jpg" >
		  	    <img src="/paperwall/SneezeSpring.jpg" alt="SneezeSpring" width="600" height="400">
		    </a>
			<div class="desc">SneezeSpring</div>
		</div>
	</div>



    <br>
	<div class="clearfix"></div>
    <h2>一个星体</h2>
	
	<div class="responsive">
		<div class="img">
		    <a href="47.101.45.86:8677/paperwall/star.jpg" >
		  	    <img src="/paperwall/star.jpg" alt="star" width="600" height="400">
		    </a>
			<div class="desc">star</div>
		</div>
	</div>

</body>
</html>
